{% extends 'base.html.twig' %}


{% block body %}
    <div>
        {# todo: afficher le formulaire de création #}
    </div>
{% endblock %}


{% block title %}
    Create a new Serie | {{ parent() }}
{% endblock %}



