<hr>
<nav>
    <ul>

        {# Le path est très bon. il faut juste mettre le nom de la route #}
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('main_test') }}" title="Test">Test</a></li>
    </ul>
</nav>
<hr>